body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  /* Agrega cualquier otro estilo que desees para el menú */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li.right {
  margin-left: auto;
}

nav ul li a {
  margin: 5px; 
  padding: 5px;
  color: #fff;
  text-decoration: none;
  background-color: #43464B;
}

.content {
  margin-top: 50px; 
  padding: 20px;
}

footer {
  padding: 2px;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  /* Agrega cualquier otro estilo que desees para el footer */
}

p{
  margin: 0px; 
  padding: 3px;
}

.footer-content {
  /* Agrega cualquier estilo adicional para el contenido del footer */
}

.footer-bottom {
  /* Agrega cualquier estilo adicional para el footer inferior */
}
